/* src/components/QuizCard.css */
.quiz-card {
  border-radius: 40px;
  padding: 24px;
  max-width: 500px;
  height: 800px;
  margin: 40px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quiz-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 615px;
  gap: 20px;
}

.quiz-question {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
}

.quiz-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.choices {
  width: 100%;
  display: flex;
  gap: 20px;
}

.choice-button,
.submit-button,
.back-button {
  padding: 12px 24px;
  width: 33%;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  // background-color: transparent;
  background-color: aqua;
  transition: background-color 0.3s ease;
}

.choice-button:hover,
.submit-button:hover,
.back-button:hover {
  background-color: #0056b3;
}

.prize-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.text-input-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.answer-input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.submit-button {
  background-color: #28a745;
}

.submit-button:hover {
  background-color: #1e7e34;
}
