/* src/components/header/index.scss */

/* 全体のヘッダー */
.header-bar {
  position: fixed;
  z-index: 1201;
  background-color: #ffffff;
  display: flex;
}

/* コンテナ全体 */
.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

/* メニュー部分 */
.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* ロゴとタイトル部分 */
.header-logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* ロゴ画像 */
.logo-img {
  margin-right: 8px;
  background-color: #ffffff;

  /* デスクトップ用のロゴ */
  &.desktop {
    display: none;
    height: 40px;
    background-color: #ffffff;
  }

  /* モバイル用のロゴ */
  &.mobile {
    height: 40px;
  }

  @media (min-width: 600px) {
    .desktop {
      display: flex;
    }

    .mobile {
      display: none;
    }
  }
}

/* タイトル */
.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  padding: 0 8px;
}
